$color-primary: #D90000;
$color-primary-light: #FF1919;
$color-primary-dark: #8C0000;
$color-secondary-light: #00D93D;
$color-secondary-dark: #008C28;
$font-size-normal: 16px;

$font-size-header: 32px;


div #change-password {
    color: $color-primary;
    display: flex;
    align-items: center;
    background: url(/img/people.jpeg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-clip: padding-box;
    height: 100vh;
    input {
        background: #FFFFFF;
        margin: 10px;
    }
}
footer {
    display: block;
    background-color: $color-primary;
    color:rgba(255, 255, 255, 0.9);
}

input {
    width: 100%;
    margin: 0 1.5rem;
}

div #login {
    background: rgba(255, 255, 255, 0.9);
    margin: 0px auto;
    padding: 60px;
    width: 50%;
    border-radius: 15px;
}

div #login #img {
    display: flex;
    justify-content: center;
}
