$color-primary: #D90000;
$color-primary-light: #FF1919;
$color-primary-dark: #8C0000;
$color-secondary-light: #00D93D;
$color-secondary-dark: #008C28;
$font-size-normal: 16px;

$font-size-header: 32px;

h1 {
    
}

body {
    width:100%;
    height:100%;
    
}

div #change-password {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 0px;
    color: black;
    // background-image: "img/people.jpeg";
    // background: "img/people.jpeg";
    background: url(/img/people.jpeg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-clip: padding-box;
    width: 100%;
    height: 1000px;
    overflow: clip;
    input {
        background: #FFFFFF;
        margin: 10px;
    }
}
footer {
    display: block;
    background-color: $color-primary;
    color:rgba(255, 255, 255, 0.9);
}
div {
    
    margin: 0 auto;
    padding: 0px;
    color: $color-primary;
    
    @mixin login {
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}
div #login {
    
    background: rgba(255, 255, 255, 0.9);
    margin: 0px auto;
    padding: 60px;
    // height: 600px;
    width: 50%;
    border-radius: 15px;
}

div #login #img {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.password {
    position: relative;
    
}


.button {
    
}

.button:hover {

}