#home {
    display: flex;
    align-items: center;
    background: url(/img/people.jpeg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-clip: padding-box;
    text-align: center;
    height: 100vh;
}

#acm {
    width: 100%
}

#box {
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 30%;
    background: rgba(238,238,2380,.9);
    border-radius: 15px
}

input{
    width: 92%;
    margin-top: 30px;
}

.button {
    margin-top: 30px;
    margin-bottom: 30px;
}