$switch-background-disabled: #EEEEEE;
$switch-background-enabled: #00AA00;

.pensvg {
    width: 30px;
    color: #D90000;
    filter: invert(17%) sepia(35%) saturate(6194%) hue-rotate(348deg) brightness(108%) contrast(130%);
}

.modal-button {
    margin-top: 1rem;
}

.edit-button:hover {
    cursor: pointer
}

.enable-switch {
    width: 60px;
    height: 30px;
    background-color: $switch-background-disabled;
    border-radius: 50px;
    box-shadow: inset 0 0 3px #222222;
    position: relative;
    
    transition: background-color 0.5s;
}

.enable-switch::after {
    transition: transform 0.5s;
    position: absolute;
    left: 2px;
    top: 2px;
    content: '';
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 100%;
}

.enable-switch-enabled {
    background-color: $switch-background-enabled;
}

.enable-switch-enabled::after {
    transform: translateX(30px);
}

#search-input {
    width: 50%;
}

.search-bar {
    margin: 1em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-active-box{
    margin: 1em;
    display: flex;
    align-items: center;
}

#show-active-text{
    margin: 0.5em;
}

.add-user {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #00D93D;
    color: white;
    border-radius: 30px;
    border-style: none;
    width: 7em;
    height: 3em;
}

.add-user>p {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top:auto;
    padding-top:.25em;
}

.user-edit-container{
    position: relative;
    transform: translateX(100%);
    display: none;
    margin-top: -21vh;
}

.animate-left {
    transition: transform 0.5s;
}

.animate-left--animating {
    transform: translate(-100%);
}

.animate-left-edit--animating {
    display: block;
    transform: translateX(0%);
    
}

.user-container {
    position: relative;
    width: 100%;
}
.arrow {
    position: absolute;
    right: 14%;
    top: 25%;
    font-size: 4rem;
    font-weight: bold;
    color: #D80000;
    cursor: pointer;
}

.edit-arrow{
    position: absolute;
    left: 13%;
    top: 0px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    transform: rotate(180deg);
    cursor: pointer;
}
