#search-input {
    width: 50%;
}

.search-bar {
    margin: 1em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-active-box{
    margin: 1em;
    display: flex;
    align-items: center;
}

#show-active-text{
    margin: 0.5em;
}

#show-active-checkbox{
    margin: 0.5em;
    border-color: black;
}

.add-user {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #19c61f;
    color: white;
    border-radius: 30px;
    border-style: none;
    width: 7em;
    height: 3em;
}

.add-user>p {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top:auto;
    padding-top:.25em;
}

.user-edit-container{
    position: relative;
    transform: translateX(100%);
    display: none;
    margin-top: -21vh;
}

.animate-left {
    transition: transform 0.5s;
}

.animate-left--animating {
    transform: translate(-100%);
}

.animate-left-edit--animating {
    display: block;
    transform: translateX(0%);
    
}

.user-container {
    position: relative;
    width: 100%;
}
.arrow {
    position: absolute;
    right: 14%;
    top: 25%;
    font-size: 4rem;
    font-weight: bold;
    color: #D80000;
    cursor: pointer;
}

.edit-arrow{
    position: absolute;
    left: 13%;
    top: 0px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    transform: rotate(180deg);
    cursor: pointer;
}